@model BibliotecaDB.Models.Grado

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <p>¿Está seguro de que desea eliminar este grado: <strong>@Model.Nombre</strong>?</p>
    </div>
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
</form>