@model BibliotecaDB.Models.Categoria

<h3>¿Está seguro de que desea eliminar esta categoría?</h3>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Descripcion)
    </dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
</form>